body {
    font-family: "Verdana","Arial",sans-serif;
    font-size: 16px;
}

div.section_pane {
    margin-bottom: 30px;
}

div.section_title {
    width: 100%;
    border-top: 1px solid #C36;
    background-color: #F9E5EC;
    font-weight: bold;
    padding: 1px 2px;
}

table {
    width: 100%;
    border: 0;
}

td {
    font-size: 14px;
    border-bottom: 1px solid #F9E5EC;
    white-space: nowrap;
}
